.order {
  padding: 12px 0;
}

.search {
  margin-bottom: 30px;
}

.search__label {
  display: block;
  margin-bottom: 5px;
}

.search__input {
  padding: 0 8px;
  width: 410px;
  height: 30px;
  font-size: 14px;
}
