// Variables

// Colors - https://chir.ag/projects/name-that-color/#6195ED
$color-oxford-blue: #3c4858;
$color-fruit-salad: #4caf50;
$color-gallery: #eee;
$color-razzmatazz: #dc004e;
$color-white: #fff;
$color-black: #000;


// Typography
$Roboto: "Roboto";
